body {
    background-color: cornsilk;
}

.pizza {
    border-radius: 30px;
    margin-left: 30px;
    max-width: 100%;
    max-height: 100%;
}

.pizza-wrapper {
    display: grid;
    place-items: center;
}

.dough-wrapper {
    display: grid;
    place-items: center;
}

p, li {
    font-family: 'Yuji Syuku';
}

.pizza-dough {
    border-radius: 50%;
    box-shadow: 5px 5px 5px black;
    width: 300px;
    height: auto;
    margin-bottom: 15px;
}

.title {
    font-family: 'Young Serif';
    text-decoration: underline;
}

h1, #title1 {
    text-align: center;
}

a {
    font-size: large;
    text-decoration: none;
}

a:link {
   color: black; 
   text-decoration: none;
}

a:visited {
    color: rgb(64, 111, 197);
    text-decoration: none;
}

a:hover {
    color: burlywood;
    text-decoration: none;
}

a:active {
    color: red;
    text-decoration: none;
}

ol, ul {
    color: darkolivegreen;
}

footer {
    border: 5px dashed burlywood;
}

nav {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.container {
    border: 3px dashed burlywood;
    padding: 10px 10px 10px 20px;
    margin: 10px 10px 20px 10px;
}